* {
    font-family: 'Nato', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all .5s;
    transform-style: flat;
}
body{
    height: 100vh;
    /* background-image: linear-gradient(45deg, rgb(5, 5, 116), rgb(3, 174, 231)); */
    /* background-image: url('https://wallpapercave.com/uwp/uwp2473817.gif'); */
    background-image: url('https://wallpaperaccess.com/full/2825704.gif');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#todo-title,
#datePicker{
    width: 100%;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
#todo-title,
#datePicker,
.But{
    height: 40px;
}
.container {
    opacity: .97;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: max-content;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    min-width: 300px;
}
#todolist {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    align-items: flex-start;
    font-family: 'Roboto', 'Nato', sans-serif;
    text-transform: capitalize;
    padding: 10px 10px 20px 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    line-height: 2;
    font-size: 1rem;
    position: relative;
    background-color: rgb(244, 244, 244);
    position: relative;
}
#todolist div {
    width: 100%;
}
#todolist input {
    height: 30px;
    width: 70;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
#todolist .editBtn{
    right: 10px;
    color: white;
    background-color: rgb(255, 166, 0);
    border: none;
    border-radius: 2px;
    margin-right: 0px;
    padding-right: 0px;
    position: absolute;
    transition: .3s;
}
#edit-todo-title,
#edi-date-picker {
    margin: 0px 15px;
}
.input {
    background-color: rgb(245, 245, 245);
    border-radius: 50px;
    font-size: 1rem;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;    
    margin: 20px;
    width: 90%;
    padding: 20px 30px;
}
.deleteBtn {
    color: white;
    background-color: red;
    border: none;
    border-radius: 2px;
    margin-right: 0px;
    padding-right: 0px;
    position: absolute;
    right: 10px;
    transition: .5s;
}
.deleteBtn:hover{
    background-color: rgb(228, 0, 0);
    cursor: pointer;
    scale: 1.1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.311);
}
.doneBtn {
    color: white;
    background-color: rgb(255, 166, 0);
    border: none;
    border-radius: 2px;
    margin-right: 0px;
    padding-right: 0px;
    position: absolute;
    right: 80px;
    transition: .3s;
}
.doneBtn:hover,
.editBtn:hover{
    cursor: pointer;
    background-color: rgb(255, 136, 0);
    scale: 1.1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.311);
}
.But {
    color: white;
    width: 180px;
    padding: 5px 5px;
    background-color: rgb(0, 180, 0);
    border-radius: 2px;
    border: 1px solid rgb(0, 255, 0);
    transition: all .2s;    
}
.But:hover{
    cursor: pointer;
    scale: 1.1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.332);
    background-color: rgb(0, 255, 0);
    color: white;
    text-shadow: 0 0 2px black;
}
@media screen and (max-width: 700px) {

    body {
        background-image: url('https://wallpaperaccess.com/full/785654.gif');
    }

    .container {
        min-width: 360px;
    } 

    .input {
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
        width: 90%;
        height: 100%;
    }

    #todolist div {
        font-size: small;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #todolist button {
        margin: 0px;
        position: absolute;
    }
}
